# import(stats, car, lme4, multcomp, MASS, pls)
importFrom(leaps, regsubsets)
# import(pls)
import(lme4)
import(car)
importFrom(pls,plsr)
importFrom(multcomp,glht)
importFrom(multcomp,cld)
importFrom(pracma,rref)

export(
    Anova,
    anova_reg,
    AnovaMix,
    backward,
    best.subsets,
    confusion,
    ConjComp,
	CIgrandMean,
    effect.labels,
    extend.colnames,
    forward,
    fparse,
    glm,
    is.balanced,
    lm,
    lmer,
    plotprops,
    PRESS,
    PRESS.pred,
    PRESS.res,
    print.AnovaMix,
	print.CIgm,
    print.simple.glht,
    print.summary.lm,
    prop.test.ordinary,
    qr.lm,
    R2pred,
    random.worker,
    relatives,
    response,
    response.default,
    responseName,
    responseName.default,
    RMSEP,
    rparse,
    simple.glht,
    spearson,
    stepWise,
    stepWiseBack,
    summaryMultinom,
    summaryOrdinal,
    summary.lm,
    t_test,
    t_test.default,
    t_test.formula,
    t_test_sum,
    tally,
    term.names,
    term.names.default,
    z_test,
    z_test.default,
    z_test.formula,
    z_test_sum
)

S3method(Anova, lm)
#S3method(summary, lm)
S3method(cld, simple.glht)
S3method(print, cldMix)
